.choice{
    height:280px;
    width:280px;
    
    margin:5px;
    
}

.choice:hover{
    border: 2px solid blue;
}

.randomBox{
    height: 900px;
    width: 900px;
    position:absolute;
    border: 2px solid white;
    background: rgba(0,0,0,0.8);
}

.img1{
    position:absolute;
}
.img2{
    position:absolute;
}